<?xml version="1.0" encoding="UTF-8"?>
    <!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
    "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
    <plist version="1.0">
    <dict>
      <key>CLIENT_ID</key>
      <string>964081777939-f2eh8db2bi5lcnfaoaa4oe4fmkiqaoli.apps.googleusercontent.com</string>
      <key>REVERSED_CLIENT_ID</key>
      <string>com.googleusercontent.apps.964081777939-f2eh8db2bi5lcnfaoaa4oe4fmkiqaoli</string>
      <key>PLIST_VERSION</key>
      <string>1</string>
      <key>BUNDLE_ID</key>
      <string>net.ddns.jessangel-web.RoadTrip</string>
    </dict>
    </plist>